.keyboard {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--keyboard-gap);
}

.keyboard-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--keyboard-row-gap);
}

.keyboard-letter {
  max-width: fit-content;
  height: 50px;
  background-color: var(--light-accent);
  padding: 0.5em 0.75em;

  color: var(--light-main);
  font-size: 1.35rem;
  text-transform: uppercase;

  border-radius: var(--letter-border-radius);
  box-shadow: var(--cell-shadow);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.05s ease-in-out;
  animation: enter 0.5s ease-in;
}

.keyboard-letter:hover {
  cursor: pointer;
}

@media (max-width: 720px) {
  .keyboard-row {
    justify-content: space-between;
    padding: 0 0.25em;
  }

  .keyboard-letter {
    width: 100%;
    max-width: 100%;
    height: 60px;
    padding: 0.25em;
    font-size: 0.95rem;
  }

  .clicked {
    opacity: 0.5;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
