.row {
  display: flex;
  gap: var(--grid-gap);
}

.cell {
  width: var(--cell-width);
  height: var(--cell-height);

  background-color: var(--light-main);
  border-radius: var(--cell-border-radius);
  box-shadow: var(--cell-shadow);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--dark-main);
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;

  transition: all 0.1s ease-in;
}

.correct {
  background-color: var(--success);
  color: var(--light-main);
}

.other-position {
  background-color: var(--warning);
}
.incorrect {
  background-color: var(--danger);
}
.success {
  animation: success 1s ease-in-out infinite;
}

.fail {
  animation: fail 0.8s ease-in-out;
}

@keyframes success {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fail {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-10px);
  }
  35% {
    transform: translateY(-10px) rotate(15deg);
  }
  55% {
    transform: translateY(-10px) rotate(-15deg);
  }
  65% {
    transform: translateY(-10px) rotate(15deg);
  }
  75% {
    transform: translateY(-10px) rotate(-15deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
