:root {
  /**COLORS*/
  --dark-main: rgb(44, 54, 57);
  --dark-accent: rgb(63, 78, 79);
  --light-main: rgb(220, 215, 201);
  --light-accent: rgb(162, 123, 92);

  --success: green;
  --warning: rgb(255, 159, 0);
  --danger: rgb(226, 6, 44);

  /**WIDTHS, HEIGHTS, MARGINS, PADDINGS & GAPS*/
  --cell-width: 100px;
  --cell-height: 100px;

  --card-width: 40%;
  --card-height: 30%;

  --card-padding: 1rem;

  --grid-gap: 2em;
  --section-gap: 3em;
  --keyboard-gap: 1em;
  --keyboard-row-gap: 0.5em;

  /**UTILITY*/
  --cell-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  --cell-border-radius: 10px;
  --letter-border-radius: 5px;
  --card-border-radius: 20px;
}

@media (max-width: 1279px) {
  :root {
    --cell-width: 80px;
    --cell-height: 80px;

    --card-width: 70%;

    --grid-gap: 1.5em;
  }
}

@media (max-width: 1279px) and (orientation: landscape) {
  :root {
    --cell-width: 65px;
    --cell-height: 65px;
  }
}

@media (max-width: 720px) {
  :root {
    /**WIDTHS, HEIGHTS, MARGINS, PADDINGS & GAPS*/
    --cell-width: 50px;
    --cell-height: 50px;

    --card-width: 90%;
    --card-padding: 0.5rem;

    --grid-gap: 1em;
    --keyboard-gap: 0.5em;
    --section-gap: 2em;
  }
}
